{% extends 'index.html' %}
{% load static %}
{% block content %}

  
    <!-- ***** Main Banner Area Start ***** -->
    <section class="section main-banner" id="top" data-section="section1">
        <video autoplay muted loop id="bg-video">
            <source src="{% static 'assets/images/course-video.mp4' %}" type="video/mp4" />
        </video>
  
        <div class="video-overlay header-text">
            <div class="caption">
                <h6>Online School </h6>
                <h2><em>Your</em> Classroom</h2>
                <div class="main-button">
                    <div class="scroll-to-section"><a href="#section2">Discover more</a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Main Banner Area End ***** -->
    <section class="features">
        <div class="container">
          {% for post in posts %}
          <div class="row">
            <div class="col-lg-4 col-12">
              <div class="features-post">
                <div class="features-content">
                  <div class="content-show">
                    <h4><i class="fa fa-pencil"></i>All Courses</h4>
                  </div>
                  <div class="content-hide">
                    <p>{{ post.all_courses }}</p>
                    <p class="hidden-sm">pustoy</p>
                    <div class="scroll-to-section"><a href="{% url 'courses' %}">More Info.</a></div>
                </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-12">
              <div class="features-post second-features">
                <div class="features-content">
                  <div class="content-show">
                    <h4><i class="fa fa-graduation-cap"></i>Virtual Class</h4>
                  </div>
                  <div class="content-hide">
                    <p>{{ post.virtual_class }}</p>
                    <p class="hidden-sm">pustoy2</p>
                    <div class="scroll-to-section"><a href="#section3">Details</a></div>
                </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-12">
              <div class="features-post third-features">
                <div class="features-content">
                  <div class="content-show">
                    <h4><i class="fa fa-book"></i>Real Meeting</h4>
                  </div>
                  <div class="content-hide">
                    <p>{{ post.real_meeting }}</p>
                    <p class="hidden-sm">pustoy</p>
                    <div class="scroll-to-section"><a href="#section4">Read More</a></div>
                </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
    


{% endblock content %}
