{% extends 'index.html' %}
{% load static %}
{% block content %}
<section class="section why-us" data-section="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Why choose Grad School?</h2>
            <div class="container p-5">
                <h2 class="font-weight-bold mt-3">Reset Password</h2>
             <hr>
             <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
             <form method="POST">
                 {% csrf_token %}
                               
                 <button class="btn btn-primary" type="submit">Send email</button>
             </form>
          </div>
        </div>
    </div>
</div>

{% endblock content %}